*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.outerbox{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, rgb(131, 255, 255), rgb(175, 248, 248));
}
.circlec1,.circlec2{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    background: linear-gradient(to top left, #ffffff,rgb(204, 245, 255));
}
.innerbox{
    width: 400px;
    margin:0 auto;
    position: relative;
    top: 22vh;
    padding: 20px;
    border: 2px solid rgb(85, 84, 84);
    border-radius: 5px;
    background: linear-gradient(to top left, #ffffff,rgb(204, 245, 255));
    box-shadow: 5px 5px 5px gray;
    z-index: 2;
}
.container > h1{
    font-size: 2.5rem;
}
.container > p{
    font-size: 0.9rem;
}
.subcontainer{
    margin: 20px 0;
}
.subcontainer>form>p{
    margin: 10px 0;
}
input{
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 2px ;
    border: 1px solid grey
}
label{
    font-weight: bold;
}
#submit{
    background-color: blue;
    font-weight: bold;
    color: #ffffff;
    border-radius:5px ;
    margin: 15px 0;
    cursor: pointer;
}
#submit:hover{
    background-color: rgb(8, 8, 109);
}
footer>p{
    text-align: center;
    margin: 10px 0;
}
.circlec1{
    top: 100px;
    left: 10%;
}
.circlec2{
    bottom: 200px;
    right: 10%;
}